
 
.message-container {
    border: 1px solid black;
    border-radius: 5px;
    width: 90%;
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: black;
}
  

.result-container {
    margin-top:20px;
    width: 90%;
   display:grid;
   padding:10px;
    border-radius: 10px;
    box-shadow: 0 5px 30px 10px rgba(0, 0, 0, 0.2);
    flex-direction: row;
    border-style: solid;
    border: 1px #444cf7;
}
.para {
    display:flex;
    

}

#imageSRS {
    width:100px;
}